{
displayStrings = (
"EN
ON
nn
no
hn
oo
nh
NH
HOHNN
NO
HHOH
OO
HH
NN
NO
ON
TEHOODIV ninoid niooid 
TEHHDIV nihnid ninnid ninhid 
TEHNODIV ninhid ninnid nihnid 
TEHNHDIV nihnid ninnid ninhid 
ninnid ninhid 
Jider TEHWADIV 
Jider TEHWADIV 
r\"\"L
nifyid TEHDADIV nitfid 
TEHLEDIV TEHLADIV TEHLHDIV TEHLUDIV 
TEHCRDIV TEHLADIV TEHCHDIV TEHLHDIV 
nihoid ninoid 
TEHEJDIV TEHCHDIV 
Hyider TEHDADIV 
TEHLHDIV TEHDADIV 
TEHLUDIV TEHDADIV 
Grider TEHGGDIV 
nifrid TEHDADIV 
TEHEADIV TEHCHDIV 
TEHTUDIV 
TEHTUDIV TEHLUDIV 
nievid 
TEHJADIV 
'E
niczid 
nizvid "
);
}
