{
displayStrings = (
"EFHKLPÞRẞ/B.salt/D.salt/H.salt/I.salt",
"
TEHNDIV TEHNNDIV 
TEHNNDIV TEHNDIV 
niffid 
nirrid 
nissid 
TEHVVDIV 
nimmid 
niusid 
nieeid 
nikkid 
nitzid 
TEHXXDIV 
nizzid 
TEHTADIV 
TEHSSDIV 
TEHDADIV 
nituid 
TEHCHDIV 
nibeid 
nifrid 
TEHXXDIV nizzid nikkid 
niid 
TEHASDIV 
niesid 
TEHTTDIV 
Hyider 
TEHEADIV 
niaxid 
ninoid niaxid 
TEHLHDIV 
TEHPIDIV 
TEHCRDIV 
nitfid 
niatid 
Jider 
TEHLMDIV 
-J
nifbid 
nirlid 
TEHEDIV "
);
}
